<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	{{> head }}
	<body class="{{classBody}}">
		<!-- Header -->
			{{> header }}

		<!-- Nav -->
			{{> navbar }}

		<!-- Content -->
			{{> (whichPartial) }}

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			{{> scripts }}

	</body>
</html>